<h2>This is your search history</h2>
<ol>
    <%@chronicles.each do |obj|%>
        <h3><li> <%=obj.station_name%> </li></h3>

        <h4>Direction: <%=obj.direction.nil? ? 'No Direction' : obj.direction%> </h4>
        <h4>Rail-Line: <%=obj.rail_line_name.nil? ? 'No Rail-Line' : obj.rail_line_name%> </h4>
        <h4>Date of Search: <%=obj.created_at.localtime if obj.created_at != nil%> </h4>
        <h4>Updated: <%=obj.updated_at.localtime if obj.created_at != nil%></h4>
        <br>

    <%end%>
</ol>
