<h1> <%=@quick_pick.station_name%> Quick Pick</h1>

<form action="/quick_picks/<%=@quick_pick.id%>" method='POST' >
    <h3>Quick Pick Name:</h3>
    <%if @quick_pick.alias.nil? || @quick_pick.alias == ''%>
        <input type="text" name='alias' placeholder='Quick! Pick... a name'>
    <%else%>
        <input type="text" name='alias' value='<%=@quick_pick.alias%>' placeholder='Pick a nickname for your quick pick'>
    <%end%>
    <input type='hidden' name='_method' value='patch'>
    <h3>Direction</h3>
    <select name='direction'>
        <option value='<%=nil%>' <%='selected' if @quick_pick.direction == nil %>>No Direction</option>
        <%@trains.select{|train| train['STATION'] == @quick_pick.station_name}.collect{|train| train['DIRECTION']}.uniq.sort.each do |dir|%>
        <option value='<%=dir%>' <%='selected' if @quick_pick.direction == dir %>> <%=dir%> </option>
        <%end%>
    </select><br/>

    <h3>Rail-Line</h3>
    <select name='line'>
        <option value='<%=nil%>' <%='selected' if @quick_pick.rail_line_name == nil %>>No Rail-Line</option>
        <%@trains.select{|train| train['STATION'] == @quick_pick.station_name}.collect{|train| train['LINE']}.uniq.sort.each do |line|%>
        <option value='<%=line%>' <%='selected' if @quick_pick.rail_line_name == line %>> <%=line%> </option>
        <%end%>
    </select><br/>

    <input type='submit' value='Finish'>
</form>

<form method='post' action='/quick_picks/<%=@quick_pick.id%>/delete'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete'>
</form>
