
<%if @quick_pick.alias.nil?%>
    <h1> <%=@quick_pick.station_name%> </h1>
<%else%>
    <h1><%=@quick_pick.alias%></h1>
    <h2> <%=@quick_pick.station_name%> </h2>
<%end%>

<form>
<%if @trains == []%>
    <h2>Doesn't look like you have any trains headed your way, right now.</h2>
    <h2>Try again later</h2>
<%else%>
<%@trains.each do |station|%>

<h2> Destination:<%=station['DESTINATION']%> </h2>
<ul>
    <li> Waiting Time: <%=station['WAITING_TIME']%> </li>
    <li> Last Update: <%=station['EVENT_TIME']%> </li>
    <li> Line: <%=station['LINE']%> </li>
    <li> Direction: <%=station['DIRECTION']%> </li>
</ul><br/>
<%end%>
<%end%>
</form>


<form method='get' action='/quick_picks/<%=@quick_pick.id%>/edit'>
    <input type='submit' value='Edit'>
</form>
<form method='post' action='/quick_picks/<%=@quick_pick.id%>/delete'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete'>
</form>
<form method='get' action='/quick_picks'>
    <input type='submit' value='View All'>
</form>
